@model eCommerce.Models.MyProfileVM.ChangePassword.ChangePasswordVm
@inject eCommerce.Entities.DTOs.CurrentUserDto CurrentUser

<link rel="stylesheet" href="~/css/myProfile.css" />


<div class="container pb-5">
    <h2 class="d-flex justify-content-center pt-4">
        Change Password
    </h2>

    <!-- Side Bar -->
    <div class="row pt-4">
        <div class="col-3 menu-container">
            <div class="user-account-sidebar pad-hrz-sm pad-sep-xs">
                <ul class="user-account-menu list-unstyled m-0 p-0">
                    @if (CurrentUser.IsAdmin == true)
                    {
                        <li>
                            <a asp-controller="MyProfile" asp-action="Index">My user profile</a>
                        </li>

                        <li>
                            <a asp-controller="Admin" asp-action="AdminProfile">My admin profile</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="MyProfile" asp-action="Index">My profile</a>
                        </li>
                    }


                    <li>
                        <a asp-controller="MyProfile" asp-action="Invoices">
                            View Invoices
                        </a>
                    </li>

                    <li class="is-active">
                        <a asp-controller="UserAccount" asp-action="ChangePassword">
                            Change password
                        </a>
                    </li>

                    <li>
                        <a asp-controller="MyProfile" asp-action="ViewDeliveryLocations">
                            Update delivery locations
                        </a>
                    </li>

                    <li>
                        <a asp-controller="MyProfile" asp-action="InsertDeliveryLocation">
                            Add new delivery adress
                        </a>
                    </li>

                    <li>
                        <form method="post">
                            <a type="submit" style="color:orangered;"
                               asp-controller="UserAccount" asp-action="DeleteMyAccount">
                                Delete my account
                            </a>
                        </form>
                    </li>

                </ul>
            </div>
        </div>

        <!-- Change Password -->
        <div class="col-9">
            <div class="user-dashboard-slot">
                <div class="panel panel-default user-account-panel min-height-panel">
                    <div class="panel-body">
                        <form asp-controller="UserAccount" asp-action="ChangePassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="OldPassword" control-label"></label>
                                <input asp-for="OldPassword" type="password" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NewPassword" class="control-label"></label>
                                <input asp-for="NewPassword" type="password" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmNewPassword" class="control-label">Confirm New Password</label>
                                <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>

                            <hr />

                            <div class="panel-footer d-flex justify-content-center">
                                <input type="submit" value="Change Password" class="btn btn-primary"
                                       asp-controller="UserAccount" asp-action="ChangePassword" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>