@model eCommerce.Models.ProductVM.ProductCategoryVM

    <div>
        <strong>@Model.TitleCategory</strong>
    </div>

    <div class="container d-flex justify-content-center">
       
        <div class="row">
            @foreach (var productCategory in Model.ProductCategories)
            {
                <div class="col-md-4 mt-2">
                    <div class="card">
                        <a class="card-body" 
                           asp-action="Category" asp-route-id="@productCategory.ProductCategoryId">
                            <div class="card-img-actions">
                                <img src="@productCategory.ProductCategoryImage" class="card-img img-fluid" alt="" />
                            </div>

                            <div class="card-body text-center">
                                <div class="mb-2">
                                    <h4 class="font-weight-normal">
                                        @productCategory.ProductCategoryName 
                                    </h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
