@model eCommerce.Models.ProductVM.ProductCategoryVM

<link rel="stylesheet" href="~/css/index.css" />

<!-- products category -->
<div>
    <div class="pt-4">
        <h4>Categories</h4>
        <hr />
    </div>

    <div class="container d-flex justify-content-center">
        <div class="row w-100">
            @foreach (var productCategory in Model.ProductCategories)
            {
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-center mb-4 mt-2" >
                    <a class="category w-100" 
                       asp-action="Category" asp-route-id="@productCategory.ProductCategoryId">
                        <div class="d-flex justify-content-center img-thumbnail w-100">
                            <div class="w-50">
                                <img style="height:100px;width:auto;" class="img-fluid" alt="" src="@productCategory.ProductCategoryImage" />
                            </div>
                            <div class="align-self-center w-50">
                                <div class="font-weight-normal">
                                    @productCategory.ProductCategoryName
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="pt-4">
            <h4>Manufacturers</h4>
            <hr />
        </div>
    </div>

    <div class="col-12 mb-2">
        <div class="container d-flex justify-content-center">
            <div class="row w-100">
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 d-flex justify-content-center mb-4 mt-2">
                        <a class="category w-100"
                           asp-action="" asp-route-id="">
                            <div class="d-flex justify-content-center img-thumbnail">
                                <div>
                                    <img style="height:50px;width:auto;" class="img-fluid" alt="" src="@manufacturer.ManufacturerLogo" />
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    
</div>